<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harusikdan">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".HarusikdanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".feature.foodcapture.FoodSelectActivity" />
        <activity android:name=".feature.foodcapture.FoodCaptureActivity" />
        <activity android:name=".feature.tab.TabActivity" />
        <activity android:name=".feature.takemenu.MenuCaptureActivity" />
<!--        -->
<!--        <activity android:name=".ResultActivity"></activity>-->
        <activity
            android:name=".feature.onboarding.onboardingframe.OnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dialog.HaruDialogActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.harusikdan.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.firebase.ml.cloud.ApiKeyForDebug"
            android:value="AIzaSyCwJbln-BWBPzROcKcTbJVAwSW37uZEwmg"
            />

    </application>

</manifest>